<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.multimedia.aes.gestnet_ssl">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar.FullScreen">
        <activity android:name="com.multimedia.aes.gestnet_ssl.nucleo.FotosProtocoloAccion"></activity>
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.PreLogin"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.InfoArticulos"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.AnadirDatosAnalisis"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.FirmaCliente"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.FirmaTecnico"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.Mapa"
            android:label="@string/title_activity_mapa" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.Camara"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.IntervencionesAnteriores"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.Index"
            android:label="@string/title_activity_index"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity android:name="com.multimedia.aes.gestnet_ssl.nucleo.DialogActivity" />

        <service android:name="com.multimedia.aes.gestnet_ssl.notification.GcmIntentService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.multimedia.aes.gestnet_ssl.servicios.ServicioLocalizacion"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.multimedia.aes.gestnet_ssl.servicios.ServicioArticulos"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.CierreDia"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.MiFirma"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.DocumentosParte"
            android:label="@string/title_activity_documentos_parte"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.Galeria"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.AnadirDatosMaquina"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.GestionMateriales"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.Presupuestos"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.GaleriaV2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.FotosIntervenciones"
            android:label="@string/title_activity_fotos_intervenciones"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name="com.multimedia.aes.gestnet_ssl.nucleo.BuscadorPartes"
            android:screenOrientation="portrait" />
    </application>

</manifest>