<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multimedia.aes.gestnet_nucleo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.FullScreen">
        <activity
            android:name=".nucleo.PreLogin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nucleo.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nucleo.InfoArticulos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nucleo.AnadirDatosAnalisis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nucleo.FirmaCliente"
            android:screenOrientation="landscape" />
        <activity
            android:name=".nucleo.FirmaTecnico"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Mapa"
            android:label="@string/title_activity_mapa" />
        <activity
            android:name=".nucleo.Camara"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nucleo.Index"
            android:label="@string/title_activity_index"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"/>
        <activity android:name=".nucleo.DialogActivity" />

        <service android:name=".notification.GcmIntentService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".servicios.ServicioLocalizacion"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".servicios.ServicioArticulos"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".nucleo.CierreDia"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.multimedia.aes.gestnet_nucleo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".nucleo.MisAjustes"></activity>
    </application>

</manifest>